.barChart {
    height: 310px ;
    width: 93%;
    background-color: #FBFBFB ;
    border-radius: 15px;
    margin: 2vh 0 5vh 0;
}

.tooltipBarChart {
    display: flex;
    flex-direction: column;
    padding: 0 2px 0 2px;
    background-color: red;
    color: white;
}