.presentation {
    display: flex;
    flex-direction: row;
    margin-left: 8vh;
}

.name{
    color: red;
    font-size: xx-large ;
}
.text{
    color: black;
}
.message{
    white-space: pre-line;
}

b {
    font-size: xx-large ;
}