.radialBarChart {
    height: 350px;
    width: 25%;
    border-radius: 15px;
    background-color: #FBFBFB;
}

@media (max-width: 1570px)
{
    .radialBarChart {
        width: 25vh;
    }
}

@media (max-width: 1310px)
{
    .radialBarChart {
        width: 92%;
        margin: 0;
    }
}
