.sidebar {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    align-items: center;
}

.icons {
    padding-top: 17vh;
}

.logoSidebar {
    display: flex;
    padding: 12px;
}

.copyright {
    display: flex;
    position: absolute;
    top: 745px;
    rotate: 270deg;
}